@import "tailwindcss";

:root {
  --background: #f5f6fb;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 9px;
  background-color: #d1d5db; /* 浅灰色 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* 悬停时深一点 */
}

/* 暗色模式下的滚动条 */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}

@theme {
  /* 已有的颜色配置 */
  --color-primary: #6680ff;
  --color-border: #f5f6fb;
  /* 如果需要添加次要色 */
  --color-secondary: #00000073;
  /* Card 背景颜色 */
  --color-card: #ffffff;
  /* 自定义字体 */
  --font-sans: 'Roboto', 'Arial', ui-sans-serif, system-ui, sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-card: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  @apply min-h-[calc(100vh-60px)] w-full relative flex gap-6 flex-1 max-w-6xl md:max-w-7xl mx-auto pt-19;
}

.left-container {
  @apply bg-white dark:bg-gray-800 rounded-xl flex-1 max-w-full;
}

.right-container {
  @apply w-84 shrink-0 relative hidden md:block
}

/* Swiper custom styles */

.main-swiper {
  width: 100% !important;
}

.main-swiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
}


.thumbs-swiper .swiper-slide-thumb-active .relative {
  border-color: var(--color-primary);
  border-width: 3px;
  outline-offset: 4px;
}


/*  Viewer 自定义样式 */
.viewer-canvas{
  @apply left-4! right-4! md:left-30! md:right-30!
}
